body{
    background-color:whitesmoke;
}
/* nabar */

.nav-link{
    color:white;
  }
  .navbar{
    padding:0px;
  }
  .navbar-brand{
    font-weight:bold;
    font-size: 2.5rem;    
  }
  #navbarDropdown{
    color:white;
  }
  .nav-item{
    padding:0 18px;
  }
  .nav-link{
    font-size:1.2rem;
    font-family:"Montserrat-Black";
    padding-left: 20px;
    color: white;
  }

.row{
margin-top: 40px;
margin-left: 0px;
margin-right: 0px;
}
.image{
    margin-left:40px ;
    padding: 0px;
}
.form{
    background-color: white;
    padding: 0px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
select
{
  width: 100%;
  padding-top:20px;
}
.input{
  outline: 0;
  border: 0px;
  border-bottom: 1px solid black; 
}
input:focus{
  border-bottom: 2px solid black;
}
br{
  margin-bottom: 20px;
}
.checkbox{
  width: auto;
  margin-top: 30px;
  height: 20px;
  width: 20px;

}
.form-button:hover{
  color: white;
  background-color: #183883;
  border-color: white;
}
.form-button{
  width: 130px;
  
}
.terms-conditions
{
  padding-top: -50px;
  position: relative;
  bottom: 28px;
  left: 30px;
}

.inside-form
{
    padding: 40px;
}
input{
    width: 100%;
    padding-top:20px;
}
@media screen and (max-width: 620px) {
  .tvsimage{
    padding-left: 0px;
    margin: 0px;
    margin-bottom: 10px;
    width: 440px;
    height: auto;
  }
  .form
  {
    margin: 0px;
  }
  .form h1{
    width: auto;
    position: relative;
    left: 0;
  }
}















