footer{
   margin-top: 20px;
   width: 100%;
   display: flex;
}
@media screen and (max-width:640px) {
    .container{
       grid-template-columns: 1fr;
       padding: 0px;
    }
 footer{
    padding-left: 0px;
 }   
}